.header {
  color: #f1b1b0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: BMJUA;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.34px;
}

.next-calender {
  width: 43px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 12px;
  margin-top: 20px;
  cursor: pointer;
}

.all-page {
  background: #FFF;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 400px;
  height: 700px;
  border-radius: 16px;
  border: 1px solid var(--material-theme-sys-light-error-container, #F9DEDC);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  margin: 0 auto;
}

/* 스크롤바 css */
.all-page::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}

.all-page::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 배경색 */
}

.all-page::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 둥글기 */
}

.all-page::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* 스크롤바 호버 시 색상 */
}



.all-content{
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whitebox{
    position: relative;
    align-items: center;
    width: 350px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    height: 129px;
    border-radius: 16px;
    border: 1px solid var(--material-theme-sys-light-error-container, #F9DEDC);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 24px;

    overflow: hidden;
    cursor: pointer;
}

.img-box{
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

.Emogi {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 26px;
  flex-shrink: 0;
  background: #d9d9d9;
  margin-top: 19px;
}

.dateinfo {
  width: 221px;
  height: 23px;
  flex-shrink: 0;
  color: #808080;
  font-family: BMJUA;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
}

.text {
  color: #000;
  font-family: 'Bareun_hipi';
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  text-align: left;
  margin-top: 15px;
  margin-left: 10px;
  white-space: pre-line; 
  width: 330px;
}

.deleteimg{
  position: absolute;
  margin-top: -20px;
  margin-left: 300px;
}