.btn1 {
  background-color: #f3c4c3;
  color: #fff;
  margin-top: 100px;
  border: none;
  padding: 20px 35px;
  border-radius: 10px;
  display: inline-block;
  width: 349px;
  height: 120px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.mainlogoImg {
  width: 200px;
  margin-top: -95px;
}

.speech {
  width: 300px;
  margin: 100px;
}

.speech-container {
  margin-top: 100px;
}
