.icon1,
.icon2,
.icon3 {
  width: 50px;
  height: 50px;
  margin-top: -150px;
}
.icon1,
.footer-text1 {
  margin-right: 40px;
  font-family: "BMJUA";
}
.icon3,
.footer-text3 {
  margin-left: 40px;
}
.footer-text1,
.footer-text2,
.footer-text3 {
  font-size: 15px;
  font-family: "BMJUA";
}
