body {
  text-align: center;
  background-color: rgb(198, 198, 197);
}
.container {
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}
.header {
  border: 1px solid #e7e8ee;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 800;
}
